.home-content {
    display: block;
    height: 100vh;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:-9999;
}

.manifesto {
    background: red;
}

.details {
    position: absolute;
    left: 5%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;
}

.details h4 { 
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 400;
    margin: 0;
}

.details a {
    color: black;
}

.details a:hover {
    text-decoration: none;
}