.work-layout {
    width: calc(100% - 34rem);
    height: 96vh;
    display: flex;
    flex-direction: column;
    margin: 2vh;
    flex: 1;
    position: fixed;
}

.project {
    width: 26%;
    background: red;
    position: absolute;
    right: 15.2vw;
}

.video-summary {
    top: 1rem;
    left: 1rem;
    padding: 2rem;
    background: black;
    flex-grow: 1;
}

.title {
    right: 12rem;
    width: 20rem;
    margin-top: 2.2em;
    margin-bottom: 2em;
    padding-left: 0.5em;
    top: 0;
    position:fixed;
    background: white;
    text-transform: uppercase;
    z-index: 9999;
}
h3 {
    font-size: 2.4em;
    font-weight: 400;
    padding-top: 0.4em;
    margin-bottom: 0.2em;
}

h4 {
    font-weight: 400;
}

.explanation {
    bottom: 0;
    background: black;
    color: white;
    padding: 2rem;
    line-height: 1.5em;
    font-size: 0.9em;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.column {
    overflow: hidden;
}

hr {
    position:fixed;
    width: 20rem;
    height: 2vh;
    right: 12rem;
    background: white;
    border: none;
}

hr.top {
    top:-0.8em;
}
hr.bottom {
    top: 98vh;
}

.work-navigation {
    position: fixed;
    top: 50%;
    right: 2rem;
    z-index: 9999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 0.7rem;
    width: 9.4rem;
    cursor: pointer;
}

.work-navigation-item {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: auto;
}

.work-navigation-item.active {
    background: black;
    border-radius: 100%;
}
.work-navigation-item:hover {
    background: black;
    border-color: white;
}

.work-navigation:last-child {
    margin-right: 0;
}


@media all and (max-width: 72.5rem) {

    .work-navigation {
        top: 0;
        left: 0;
        margin: 1rem;
    }
    .work-layout {
        width: 100%;
        display: contents;
    }

    .video-summary {
        padding-top: 2rem;
        width: 100vw;
        height: 32rem;
    }

    .title {
        width: 100%;
        right: 0;
        margin: 0;
        padding: 2rem;
        float: left;
        position: relative;
    }
    hr.top,
    hr.bottom {
        /* display: none; */
        left: 0;
        width: 100vw;
    }

    hr.bottom {
        bottom: -1.4rem;
    }

    hr.top {
        top: 0;
    }

    .thumbs {
        position:relative;
        right: 0;
        top: 0;
        margin-top: 0;
        padding: 5vw;
        width: 100vw;
        float: left;
        padding-top: 0;
    }

}

@media all and (max-width: 72.5rem) {

    .explanation {
        grid-template-columns: 1fr;
        width: 100vw;
    }
}