.flowers {
    display: grid;
    display: hidden;
}

#main-content img {
    margin: 0 auto;
    transition: all 1s linear;
    width: 100%;
}

.flowers a { 
    width: 10rem;
    display: block;
    font-weight: bold;
    cursor: pointer;    
}

.data {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    margin: 1rem;    
    background: yellow;
}

html {
    overflow: hidden;
}