header {
    margin: 0 auto;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-top: -101px;    
    margin-left: -101px;
}

header h1 {
    margin: 0;
}

header h1 span {
    display: none;
    visibility: hidden;
}

.logo {
    height: 202px;
    margin: 0 auto;
    width: 202px;
}

.onut-logo {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

.circle { 
    stroke-width: 3;
    fill: none;
    stroke: #fff;
}

@keyframes inner-circle {
    from { 
        transform: rotate(0deg) rotate(0deg);
    }
    to { 
        transform: rotate(360deg) rotate(360deg);
    }
 
}

.inner {
    -webkit-animation: 16s inner-circle linear infinite;
    animation: 16s inner-circle linear infinite;
    transform-origin: 100px;    
}