@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');
@import url("https://use.typekit.net/ugs8zbt.css");


main {
    /* font-family: 'Muli', sans-serif; */
    font-family: museo-sans, sans-serif;
    /* font-family: futura-pt, sans-serif; */
    /* font-family: mr-eaves-xl-modern, sans-serif; */
}

body {
    font-size: 1rem;
    line-height: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
}

.no-overflow > html {
    overflow: hidden;
}

#grid {
    display: grid;
    grid-template-areas:"main sidebar";
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#main-content {
    grid-area: main;
    overflow: hidden;
    width: 100vw;
}


#sidebar {
    grid-area: sidebar;
    position: fixed;
    right: 0;
    width: 14.2rem;
    height: 100vh;
    z-index: 9999;
}


.logoMenu {
    float: left;
    position: fixed;
    bottom:8vh;
    right: 3.6rem;
}

.logoMenu img {
    margin-bottom: 0;
}

.show-menu {
    width: 5rem;
    height: 5rem;
    position: fixed;
    right: 0;
    top: 0;
    margin: 1rem;
    display: none;
}

@media all and (max-width: 72.5rem) {
    #grid {
        display: block;
        grid-template-columns: 100%;
    }

   .logoMenu {
        right: 1.6rem;
    }

    #sidebar {
        position: fixed;
        top: 0;
        width: 5rem;
        right: 0;
        height: 5rem;
        overflow: hidden;
        transition: all 1s ease;
        z-index: 99999;
    }

    #sidebar.is-active {
        width: 100%;
        height: 100%;
        background: black;
        margin-bottom: -1rem;
        z-index: 999999;
    }

    #sidebar.is-active #Fill-3 {
        fill: red;
    }

    #sidebar.hide {
        left: -100vw;
    }

    #sidebar.show {
        left: 0;
    }

    .show-menu {
        display: block;
        background-image: url(./mobile-menu-black.svg);
        background-size: cover;
    }

    .show-menu.is-active {
        background-image: url(./mobile-menu-white.svg);
    }
}
