.menu {
    margin: 2rem;
    float: right;
    padding: 0;
    overflow: hidden;
    width: 10.2rem;
}

.menu ul {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width:3.4rem;
}

.menu ul li {
    float: left;
    height: 100%;
    letter-spacing: 0.1rem;
    list-style-type: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    width: 2.4rem;
}

.menu ul li a {
    font-weight: 700;
    text-decoration: none;
    color: white;
    background: black;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: .5rem;
    width:100%;
    float:left;
}

.menu ul li a:hover,
.menu .active {
    color: black;
    background: white;
}

@media all and (max-width: 72.5rem) {

    .menu {
        margin-top: 7rem;
        left: 0;
        position: relative;
        width: 12rem;
        margin-right: 38vw;
    }

    .menu ul {
        width: 4rem;
    }

    .menu ul li {
        width: 3rem;
        letter-spacing: 0rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .menu ul li a {
        font-size: 2rem;
        line-height: 2.4rem;
        padding: .2rem 0;
        width: 3rem;
        letter-spacing: 0;
    }
}